extends layout

block content
  h1 #{title}: #{book.title}
  p= book.description

  if book_instances.length

    p #[strong Delete the following book_instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book Instances

      each instance in book_instances
        dl.border.mb-3.p-2.rounded
            dt.mb-2
             a(href=instance.book.url) #{instance.book.title}
            dd Imprint: #{instance.imprint}
            dd Status: #{instance.status}
            if instance.status!='Available'
            dd Due Back: #{instance.due_back_formatted}



  else
    p Do you really want to delete this Book?
    form(method='POST' action='')
      div.form-group
      input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
